<div id="recipe" class="page ui">
  <section class="ui segment">
    <h3 class="ui dividing header blue">
      <i class="fa fa-twitch"></i>재료
    </h3>
    <span class="ui ribbon label">각각 85g의 말린 허브가 필요함</span>
    <ul>
      <li><%= link_to "아니스 (Anise seed)", "https://www.mountainroseherbs.com/products/anise-seed/profile", target: "_blank", data: { content: "씨앗이 향신료로 쓰이는 미나리과 식물" }, class: "ui" %></li>
      <li><%= link_to "파란색 라벤더 (Blue Violet)", "http://www.bulkapothecary.com/1lb-blue-violet-herb-cut-and-sifted.html" %></li>
      <li><%= link_to "우엉뿌리 (Burdock root)", "https://www.mountainroseherbs.com/products/burdock-root/profile" %></li>
      <li><%= link_to "남가새과 상록관목 (Chaparral)", "https://www.mountainroseherbs.com/products/chaparral-leaf/profile", target: "_blank", data: { content: "(학명 Larrea tridentata) - 암치료에 좋다고 판매된 식물이다. 영국 암연구소는 \"우리는 어떤 종류의 암이든지 이 것을 치료하거나 예방하겠다고 섭취하는 것을 추천하지 않는다\"고 밝혔다." }, class: "ui" %></li>
      <li><%= link_to "민들레뿌리 (Dandelion root)", "https://www.mountainroseherbs.com/products/dandelion-root/profile" %></li>
      <li><%= link_to "회향 (Fennel)", "https://www.mountainroseherbs.com/products/fennel-seed/profile", target: "_blank", data: { content: "길이 1.8m의 1년생 식물로 추위에 강하고 밝은 녹색의 날개 모양의 잎을 갖는다. 잎은 당근과 비슷하고 씨앗은 아니스(Anise)와 비슷하다. 주로 입냄새를 없애기 위해 쓰인다. 이탈리아에서는 Bouillabaisse를 만드는데 쓰이며 날것으로도 먹는다. 단, 피클에 사용되며 또한 사탕, 리큐어, 탕수육, 애플 와인 등에 사용된다." }, class: "ui" %></li>
      <li><%= link_to "감초 (Licorice root)", "https://www.mountainroseherbs.com/products/licorice-root/profile", target: "_blank", data: { content: " " }, class: "ui" %></li>
      <li><%= link_to "구골나무매자 (Oregon grape)", "https://www.mountainroseherbs.com/products/oregon-grape-root/profile", target: "_blank", data: { content: "구골나무매자 Mahonia aquifolium: 미국 서부 연안 지방 원산의 구골나무남천속(屬)의 상록 관목; 노랑색의 꽃과 푸른 식용 과실을 맺는다; 미국 Oregon 주의 주화(州花)." }, class: "ui" %></li>
      <li><%= link_to "미국 자리공 (Phytolacca)", "https://www.mountainroseherbs.com/products/poke-root/profile", target: "_blank", data: { content: " " }, class: "ui" %></li>
      <li><%= link_to "레드 클로버, 붉은토끼풀 (Red clover)", "https://www.mountainroseherbs.com/products/red-clover-herb/profile", target: "_blank", data: { content: " " }, class: "ui" %></li>
      <li><%= link_to "소리쟁이 (YELLOW DOCK ROOT)", "https://www.mountainroseherbs.com/products/dock-root/profile", target: "_blank", data: { content: " " }, class: "ui" %></li>
      <li><%= link_to "당밀 1.13 kg(원료에서 설탕을 추출한 후의 잔액, Honey or Black Strap Molasses)", "https://www.mountainroseherbs.com/products/dock-root/profile", target: "_blank", data: { content: "정제된 설탕과달리 비타민B6와 미네랄, 칼슘, 마그네슘, 철분, 망간을 함유하고 있다." }, class: "ui" %></li>
      <li><%= link_to "454g의 식물성 글리세린 (Vegetable glycerin)", "#" %></li>
      <li><%= link_to "구연산 4스푼(시트르산, Citric acid)", "#" %></li>
      <li><%= link_to "19리터의 증류수", "http://terms.naver.com/entry.nhn?docId=1143922&cid=40942&categoryId=32251" %></li>
    </ul>
    <p class="description">
      가능한 파우더로된 허브대신 뿌리와 잎을 가진 허브 통째로 사세요.
      이유는 두가지인데, 하나는 파우더가 수분을 흡입해 몸에 수분을 부족하게하기 때문이고 두번째는 파우더가 더 오래걸리고 물기를 빼는데 오래걸리기 때문입니다.
      대부분의 건조된 허브는 <%= link_to "Mountain Rose Herbs(https://www.mountainroseherbs.com/)", "https://www.mountainroseherbs.com/" %>에서 구입할 수있습니다.
      엄격한 유기농 기준을 따라 가공하며 작은 양으로도 판매중입니다.
      다른곳에도 사셔도 됩니다. 유기농이라면 상관없습니다.
      <%= link_to "더 자세히 보기: http://www.naturalnews.com/022091_tonic_herb_blood.html#ixzz3OggKOpZ7", "http://www.naturalnews.com/022091_tonic_herb_blood.html#ixzz3OggKOpZ7" %>
    </p>
  </section>

  <section class="ui segment">
    <h3 class="ui dividing header blue">
      <i class="fa fa-twitch"></i>조리도구
    </h3>
    <ul>
      <li>스테인리스 재질이나 유리로된 큰 거르개(차 여과기)</li>
      <li>물 온도계</li>
      <li>무명천(치즈 직포)</li>
      <li>담는건 일반적인 길다란 캔도 가능, 혹은 유리로된 뚜껑있는 병도 가능. 1리터병이면 14개 필요.</li>
    </ul>
    <p class="description">
      이 레시피는 암환자를 대상으로한 아주많은 양의 1년치 레시피입니다. 원한다면  친구나 가족하고도 나눠마실수 있음.
    </p>
  </section>

  <section class="ui segment">
    <h3 class="ui dividing header orange">
      <i class="fa fa-twitch"></i>만드는법
    </h3>
    <p class="description">
      집에서 과일통조림과 만드는것과 비슷해서 과일통조림 만들수있다면 여러분도 이 레시피를 따라할 수 있을겁니다.
      만드는덴 몇일 걸리지만 그만큼 가치가 있구요. 만드는데 시간이 오래걸리는거라 이런 음료는 마켓에서도 없습니다.
      제조하는데는 비용이 어마어마하지만 집에서 만든다면 500ml 에 약 5천원합니다.
      시원한 밀실에 둔다면 1년까지 보관가능.
      신선하게 음료를 보관하는 비결은 온도차가 큰곳에 노출시키는것을 피하는것입니다.
      얼리지도 말고 23.8도 이상에서도 보관하면 안됩니다.
    </p>

    <h4 class="ui ribbon label">[하나의 냄비에 넣을것들]</h4>
      <ul>
        <li>Anise seed</li>
        <li>burdock root</li>
        <li>chaparral</li>
        <li>dandelion root</li>
        <li>fennel</li>
        <li>licorice root</li>
        <li>oregon grape root</li>
        <li>poke root</li>
        <li>yellow dock root</li>
        <li>11.3리터 물</li>
      </ul>
      <p class="description">
      뚜껑을 덮고 밤새 가스불로 따뜻하게 끓여서 뽑기 뿌리가 부드러워지게 합니다.
      아침에 좀더 온도를 올려서 약 4시간 낮게 끓입니다. 그리고 15-30분 더 끓입니다.
      다 끓였다면 불을 끄고 무명천을 깨끗한 용기위에 대고 부어서 물을 뺍니다.

      <%= link_to "더 자세히 보기: http://www.naturalnews.com/022091_tonic_herb_blood.html#ixzz3OgiicErG", "http://www.naturalnews.com/022091_tonic_herb_blood.html#ixzz3OgiicErG" %>
      </p>

    <h4 class="ui ribbon label">[다른 냄비에 넣을것들]</h4>
    <ul>
      <li>Blue violet</li>
      <li>Red Clover</li>
      <li>5.6리터의 물</li>
    </ul>
    <p class="description">
      타이머를 해놓고 밤새 물에 담궈둡니다.
      아침에 냄비를 가스 스토브에 올려놓고 따뜻한 중불정도로 끓이지말고 허브를 잠기게만 합니다. 차 한컵마실때 처럼요.
      최소 4시간 더 잠기게 하고 용기위에 무명천을 대고 물을 뺍니다.

      <%= link_to "더 자세히 보기: http://www.naturalnews.com/022091_tonic_herb_blood.html#ixzz3OglcTEw1", "http://www.naturalnews.com/022091_tonic_herb_blood.html#ixzz3OglcTEw1" %>
    </p>
  </section>
  <section class="ui segment">
    <h3 class="ui dividing header red">
      <i class="fa fa-twitch"></i>냄비섞기
    </h3>
    <p class="description">
      물을 모두 덜어냈다면 모두 19리터 냄비중 하나에 넣고 섞는다. 약 30분 끓인다.
      454g의 식물성 글리세린과 꿀 혹은 당밀 1.13 kg 그리고 구연산 4스푼을 넣고 젓는다.
      15분동안 뒤섞이게 한다. 85~87.7도가 되야 음료에 박테리아가 자라지 않으므로 온도를 체크하고 병에 담을 준비한다.
      병에 담는 동안 이 온도를 유지한다.
      음료가 병에 담을 정확한 온도가 되기를 기다리는동안에 담을 병을 준비한다.
      미리 뚜껑과 병을 완전히 소독을 해두도록 한다.
      허브액체를 소독한 뜨거운 병에 넣고 병의 맨윗부분에서 반만 담는다.
      밤새 식히게 둔다. 모두 병이 닫혔는지 확인하고 저장한다.
      사용하느라 음료를 열고 난 후 라면 반드시 냉장보관 시켜야한다. 음료는 개봉후 냉장고에서 한달간 보관가능하다. 바닦에 침전물이 생기는건 정상이다.
      마시기전엔 침전물을 섞거나 약간 흔들어서 섭취한다.

      <%= link_to "더 자세히 보기: http://www.naturalnews.com/022091_tonic_herb_blood.html#ixzz3OgnDXcTp", "http://www.naturalnews.com/022091_tonic_herb_blood.html#ixzz3OgnDXcTp" %>
    </p>
  </section>
  <section class="ui segment">
    <h3 class="ui dividing header pink">
      <i class="fa fa-twitch"></i>복용법
    </h3>
    <p class="description">
      성인 복용량: 하루 2회 2큰스푼 1년먹고 다음 1년간 하루 1회 복용.
      암예방차원에서 3달마다 한병씩, 하루 2회 1큰스푼 섭취가능.
      임산부나 Warfarin같은 혈액청소제같은 화학약품을 쓰는사람은 마시지마세요.
      먼저 전문의와 상담하고 드시길 바랍니다.

      <%= link_to "더 자세히 보기: http://www.naturalnews.com/022091_tonic_herb_blood.html#ixzz3OhhDHLLh", "http://www.naturalnews.com/022091_tonic_herb_blood.html#ixzz3OhhDHLLh" %>
    </p>
  </section>
</div>